body {
text-align: center;  
}

#characterselect {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: large;
} 

#character-info {
    border: 1px solid blue;
}

#character-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding-top: 10px;
}